/* esp = 1 */
body {
  font: 400 15px Tahoma, sans-serif;
  line-height: 1.8;
  background-color: hsla(342, 100%, 75%, 0.58);
}
/* esp = 1 */
h1 {
  color: #492c00;
  padding: 15px 15px;
  font-size: 2em; 
  font-weight: bolder;
  margin-bottom: 50px; 
}
/* esp = 10 */
#board {
  width: 862px;
  height: 667px;
  background-color: #202522;
  padding: 10px 10px;
  margin: 8px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: grid;
  grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
  "card11 card12 card13 card14"
  "card21 card22 card23 card24"
  "card31 card32 card33 card34";
}
/* esp = 10 */
.card {
  text-decoration: none;
  padding: 0px;
  color: #000000;
  border-radius: 6px;
  border: 4px solid #424242;
}
/* esp = 20 */
.card:hover {
  color: #ad1c40;
  background-color: #000000;
  border-color: white;
}
/* esp = 100 */
#c11 {
  grid-area: card11;
}
/* esp = 100 */
#c12 {
  grid-area: card12;
}
/* esp = 100 */
#c13 {
  grid-area: card13;
}
/* esp = 100 */
#c14 {
  grid-area: card14;
}
/* esp = 100 */
#c21 {
  grid-area: card21;
}
/* esp = 100 */
#c22 {
  grid-area: card22;
}
/* esp = 100 */
#c23 {
  grid-area: card23;
}
/* esp = 100 */
#c24 {
  grid-area: card24;
}
/* esp = 100 */
#c31 {
  grid-area: card21;
}
/* esp = 100 */
#c32 {
  grid-area: card22;
}
/* esp = 100 */
#c33 {
  grid-area: card23;
}
/* esp = 100 */
#c34 {
  grid-area: card24;
}
/* esp = 100 */
#again {
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background-color: #3125a0;
  border-radius: 6px;
  border: 2px outset #424242;
}
/* esp = 110 */
#again:hover {
  color: #000000;
  background-color: #a7cdff;
}