/* esp = 1 */
body {
    margin: 8px;
    display: grid;
    grid-gap: 20px;
	grid-template-columns: auto max-content;
	grid-template-areas:
    "header header header header header header"
	"content content content content sidebar sidebar"
	"footer footer footer footer footer footer";
}
/* esp = 1 */
header {
    grid-area: header;
}
/* esp = 1 */
footer {
    grid-area: footer;
}
/* esp = 1 */
aside {
    grid-area: sidebar;
}
/* esp = 1 */
section {
    clear: both;
}
/* esp = 2 */
section img, section video, section audio {
    float: left;
    margin-right: 20px;
}
@media (max-width: 500px) {
    /* esp = 1 */
    body {
        margin: 8px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto;
        grid-template-areas:
        "header"
        "content"
        "sidebar"
        "footer";
        font-size: 20px;
    }
}